<html>
<head>
    <title>Contact List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script>
        var Company = {
            id: 0,
            name: "",
            description: "",
            message: ""
        }

        function onAddCompany(item) {
            var options = {};
            options.url = "/Company/Create";
            options.type = "POST";
            var obj = Company;
            obj.name = $("#name").val();
            obj.description = $("#description").val();
            obj.message = $("#message").val();
            console.dir(obj);
            options.data = obj;

            options.success = function (msg) {
                $("#msg").html(msg);
            },
                options.error = function () {
                    $("#msg").html("Error while calling the Web API!");
                };
            $.ajax(options);
        }

        // Handle exceptions from AJAX calls
        function handleException(request, message, error) {
            var msg = "";
            msg += "Code: " + request.status + "\n";
            msg += "Text: " + request.statusText + "\n";
            if (request.responseJSON != null) {
                msg += "Message" + request.responseJSON.Message + "\n";
            }

            alert(msg);
        }
    </script>
</head>
<body>
    <form>
        <h2>Create Company</h2>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label for="name">Company name:</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea class="form-control" rows="3" id="description"></textarea>
                </div>
                <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea class="form-control" rows="5" id="message"></textarea>
                </div>
                <button type="submit" class="btn btn-default" onclick='onAddCompany(this)'>Add Company</button>
                <br />
                <div id="msg"></div>
            </div>
        </div>
</form>
</body>
</html>