@using Model.ViewModels.CompanyViewModels;
@model CompanyViewModel;
@{
    ViewData["Title"] = "Edit";
}
<head>
    <style>
        #messagePreview::before {
            content: '';
            position: absolute;
            bottom: 0;
            width: 38px;
            height: 26px;
            border-color: inherit;
            border-style: solid;
            border-radius: 50%;
            border-width: 0 10px;
            z-index: 99;
            left: 4px;
            color: #e5e5ea;
            clip: rect(10px,40px,30px,21px) !important;
        }
    </style>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <script>
        var CursorPosition = 0;
        var hashTagWords = ["#name", "#surname", "#birthday", "#company"];
        var hashTagWordsRaplacer = ["ClientName", "ClientSurname", "ClientBirthday", "CompanyName"];

        function AddWord(word) {
            var v = $('#message').val();
            var textBefore = v.substring(0, CursorPosition);
            var textAfter = v.substring(CursorPosition, v.length);
            var tmpCursorPosition = CursorPosition;

            $('#message').val(textBefore + word + textAfter);
            MessagePreview($('#message'));
            CursorPosition = tmpCursorPosition + word.length;
        }

        function hashTagWordReplaceByPosition(position, word) {
            var v = $('#message').val();
            var hashTagWordIndex = hashTagWords.findIndex(function (val) { return val == word; });
            var textBefore = v.substring(0, position);
            var textAfter = v.substring(position + word.length + 1, v.length);
            v = textBefore + hashTagWordsRaplacer[hashTagWordIndex] + textAfter;
            $('#messagePreview').val(v);
        }

        function MessagePreview(item) {
            CursorPosition = $(item).prop('selectionStart');
            var v = $(item).val();
            for (var i = 0; i < hashTagWords.length; i++) {
                v = v.replace(new RegExp(hashTagWords[i], 'g'), hashTagWordsRaplacer[i]);
            }
            $('#messagePreview').text(v);
            if (v.length == 0) {
                $('#messagePreview')[0].style.display = "none";
            }
            else {
                $('#messagePreview')[0].style.display = "block";
            }
            $('#messagePreview')[0].style.height = "0px";
            $('#messagePreview')[0].style.height = $('#messagePreview')[0].scrollHeight + "px";
        }

        function ClickPosition(item) {
            CursorPosition = $(item).prop('selectionStart');
        }

    </script>
</head>
<h2>Edit</h2>
<h4>Company</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="form-group col-md-12">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea rows="3" style="resize:none" asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label asp-for="Message" class="control-label"></label>
                    <textarea rows="7" style="resize:none" asp-for="Message" class="form-control" id="message" 
                        onclick="ClickPosition(this)" onkeyup="MessagePreview(this)"></textarea>
                    <span asp-validation-for="Message" class="text-danger"></span>
                    <div>
                        <input type="button" class="btn btn-default" value="#name" onclick='AddWord(" #name ")'>
                        <input type="button" class="btn btn-default" value="#surname" onclick='AddWord(" #surname ")'>
                        <input type="button" class="btn btn-default" value="#birthday" onclick='AddWord(" #birthday ")'>
                        <input type="button" class="btn btn-default" value="#company" onclick='AddWord(" #company ")'>

                        @*add the required fields*@
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
                <div class="col-md-3">
                    <a class="btn btn-primary" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>
    <div class="form-group col-md-4" style="background: url(/images/iphone.png)no-repeat; background-size:contain;
                height: 320px; width: 320px; margin-top: 50px">
        <div style="position:relative; height:auto !important; " contenteditable>
            <div style="position:absolute; height:auto !important; ">
                <div rows="0" readonly class="form-control" id="messagePreview" style="z-index:10; border: none;
                    margin-top: 120px; margin-left: 30px;
                    font-family: 'Nunito Sans','Avenir Next','Segoe UI','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif; line-height: 100%;
                    width: 210px; background-color:#e5e5ea; -webkit-border-radius: 20px; -moz-border-radius: 20px;
                    resize: none; max-height: 190px; overflow:hidden; display: none;">
                    ::before
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(document).ready(MessagePreview($("#message")))
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
