@using Model.ViewModels.TariffViewModels
@model TariffViewModel
@{ 
    var operatorId = @ViewData["OperatorId"];
}
<html>
<head>
    <title>Tariff List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script>
        var Tariff = {
            id: 0,
            name: "",
            description: "",
            price: "",
            limit: "",
            operatorId: ""
        };

        function onAddTariff(item) {
            var options = {};
            options.url = "/Tariff/Create";
            options.type = "POST";
            var obj = Tariff;
            obj.name = $("#name").val();
            obj.description = $("#description").val();
            obj.price = $("#price").val();
            obj.limit = $("#limit").val();
            console.log(obj);
            obj.operatorId = '@ViewData["OperatorId"]';
            console.dir(obj);
            options.data = obj;
            options.success = function (msg) {
                $("#msg").html(msg);
            },
                options.error = function () {
                    $("#msg").html("Error while calling the Web API!");
                };
            $.ajax(options);
        }

    </script>
</head>
<body>
    <form>
        <h2>Create Tariff</h2>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label for="name">Tariff name:</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea class="form-control" rows="3" id="description"></textarea>
                </div>
                <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="number" class="form-control" id="price">
                </div>
                <div class="form-group">
                    <label for="limit">Limit:</label>
                    <input type="number" class="form-control" id="limit">
                </div>
                <button type="submit" class="btn btn-default" onclick='onAddTariff(this)'>Add Tariff</button>
                <br />
                <div id="msg"></div>
            </div>
        </div>
    </form>
    <div>
        <a asp-action="Operators" asp-controller="Operator">Back to List</a>
    </div>
</body>
</html>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}