@Url.RouteUrl(ViewContext.RouteData.Values)
@using Model.ViewModels.TariffViewModels
@model TariffViewModel

<h2>Operators</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="GetTariffList" asp-controller="Tariff" method="post" asp-antiforgery="true">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="Limit"></label>
                <input asp-for="Limit" class="form-control" />
                <span asp-validation-for="Limit" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Add Operator</button>
        </form>
    </div>
</div>