@using Model.ViewModels.AdminStatisticViewModel
@model IEnumerable<AdminStatisticViewModel>
<div class="Statistic">
    <h3>Admin Statistica</h3>
    
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Group Name</th>
            <th>Number of messages</th>
        </tr>
        </thead>
        <tbody>
            @{
                foreach (AdminStatisticViewModel item in ViewBag.statistic)
                {
                    <tr>
                        <td>
                            @item.GroupName
                        </td>
                        <td>
                            @item.Count
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>  
    
     
</div>