<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SmsService</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-tema.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/css/menunav.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">

        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link href="~/css/menunav.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-default ">
        <div class="container-fluid">
            <div class="navbar-header">

                <div id="myNav" class="overlay">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <div class="overlay-content">
                        <a asp-area="" asp-controller="Company" asp-action="Index">Company</a>
                        <a asp-area="" asp-controller="Contact" asp-action="Contacts">Contacts</a>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <a asp-area="" asp-controller="Operator" asp-action="Operators">Operators</a>
                            <a asp-area="" asp-controller="StopWord" asp-action="Index">Stop Words</a>
                        }
                        @if (User.Identity.IsAuthenticated && User.IsInRole("CorporateUser"))
                        {
                            <a asp-area="" asp-controller="Group" asp-action="Index">Group</a>
                        }
                        @await Html.PartialAsync("_LoginPartial")
                    </div>
                </div>
                <span class="main__menu" cursor:pointer" onclick="openNav() ">&#9776;</span>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">SMS Service</a>

            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()

            <link href="~/css/site.css" rel="stylesheet" />
        </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
