@{
    ViewData["Title"] = "SMS-service";
    Layout = null;
}
@using WebCustomerApp.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>SmS Service</title>


    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);
        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/menunav.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/style2.min.css">


    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <link rel="stylesheet" href="~/css/style2.css">
</head>
<body>
    <div class="preview" id="page_preloader">

        <h1 class="loader" onload='StartPage()' id="text_preloader">Sms service</h1>
        <!-- <a class="skip_button" id="skip_button" href="#">Skip</button> -->
    </div>
    <header class="header">
        <a href="#" class="logo">
            <img src="../images/landing/logo.svg" alt="logo unload" class="logo_img">
        </a>

        <nav class="menu">
            <ul class="menu_list">
                <li class="menu_item">
                    <div class="container">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">

                        </a>
                        <div id="myNav" class="overlay">
                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                            <div class="overlay-content">
                                <a asp-area="" asp-controller="Company" asp-action="Index">Company</a>
                                <a asp-area="" asp-controller="Contact" asp-action="Contacts">Contacts</a>
                                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <a asp-area="" asp-controller="Operator" asp-action="Operators">Operators</a>
                                    <a asp-area="" asp-controller="StopWord" asp-action="Index">Stop Words</a>
                                }
                                @if (User.Identity.IsAuthenticated && User.IsInRole("CorporateUser"))
                                {
                                    <a asp-area="" asp-controller="Group" asp-action="Index">Group</a>
                                }
                                @await Html.PartialAsync("_LoginPartial")
                            </div>
                        </div>
                        <span class="main__menu" cursor:pointer" onclick="openNav() ">&#9776;</span>
                    </div>
                </li>
            </ul>
        </nav>

        <!--/.header-->
    </header>
    <section class="main">
        <h1 class="main_title">Landing page <span class="main_title-big">sms service</span></h1>
        <a href="#log" class="main_button anchor">get started</a>
        <p class="main_description">some text <a href="#">some link</a>!</p>
    </section>
    <!--/.main-->

    <section class="features">
        <!-- <img src="styles/images/text1.svg" class="start"> -->
        <ul class="features_list">
            <li class="features_item features_item--sms_tools_1">
                <h3 class="section_title">STATISTICS</h3>
                <p class="features_description">
                    Evaluate the results of SMS campaigns by analyzing the statistics on opening and delivering each message you send out.
                </p>
            </li>
            <li class="features_item features_item--sms_tools_2">
                <h3 class="section_title">API INTEGRATION</h3>
                <p class="features_description">
                    Use our API to integrate SMS messaging with your website, app, software or CRM system. Many developers have already implemented it to make notifications easy for business workflow.
                </p>
            </li>
            <li class="features_item features_item--sms_tools_3">
                <h3 class="section_title">SMS AUTORESPONDERS</h3>
                <p class="features_description">
                    Add the recipient's name and other personal information to each SMS: your name or company's name, date of birth, discount code, and other.
                </p>
            </li>
        </ul>
    </section>
    <section class="features">
        <ul class="features_list">
            <li class="features_item features_item--sms_tools_4">
                <h3 class="section_title">SUBSCRIPTION FORMS</h3>
                <p class="features_description">
                    Create SMS subscription forms and integrate them into your website. You can customize the size, the background, font color and even upload your image or logo.
                </p>
            </li>
            <li class="features_item features_item--sms_tools_5">
                <h3 class="section_title">UNSUBSCRIBE LINKS</h3>
                <p class="features_description">
                    Include unsubscribe link into your SMS. Let your audience know that they can unsubscribe whenever they like.
                </p>
            </li>
            <li class="features_item features_item--sms_tools_6">
                <h3 class="section_title">EXCEPTION LIST</h3>
                <p class="features_description">
                    You can exclude phone numbers from recipients list. Use this feature when you don’t want to send message to the whole list.
                </p>
            </li>
        </ul>
    </section>
    <section class="log_section" id="log">
        <p class="app_description_link">
            <a href="Account/NewLogin" class="app_link">Log in</a>
            <a href="Account/NewRegister" class="app_link">Registration</a>
        </p>
    </section>
    <!--/.features -->
    <section class="app" id="app">
        <div class="app_image_phone"><div class="app_image_message"></div></div>



        <div class="app_content">

            <h1 class="section_title ">Personalized SMS</h1>
            <p class="app_description">

                Add the recipient's name and other personal information to each SMS: your name or company's name, date of birth, discount code, and other.
            </p>
            <div class="app_content">

                <h1 class="section_title ">Sender name</h1>
                <p class="app_description">
                    Use any sender ID depending on your campaign. Sender IDs must be pre-approved for some countries.
                </p>


            </div>

        </div>
    </section>


    <!--/.footer -->
    <footer>
        <div id="social">
        </div>
        <div id="rights">
            All rights reserved &copy; 2019
        </div>
    </footer>

    <script src="~/js/preloader.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
