.app{
    padding: 180px 10% 0;
    background-color: #f7f7f7;
    height: 700px;
    display: flex;
    &_image{
        width: 550px;
        margin-top: -50;
        background-repeat: no-repeat;
        background-image: url("images/phone.png");
        background-size: contain;
        background-position: top;
      
    }
    &_content{
        width: 550px;
        margin-left: auto;
    }
}