/*menu*/
.menu {
  margin-left: auto;
}
.menu_list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  align-items: center;
}
.menu_item {
  margin-right: 30px;
  color: rgba(255, 255, 255, 0.8);
  position: relative;
}
.menu_link {
  text-transform: uppercase;
  text-decoration: none;
}
