<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie-edge">
	<title>Hello World</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
	<link rel="stylesheet" href="style2.css">
</head>
<body>
<header class="header" >
   <a href="/" class="logo">
  	<img src="" alt="logo unload" class="logo_img">
  </a>  
  <nav class="menu">
  	<ul class="menu_list">
  		<li class="menu_item">
  			<a href="#" class="menu_link">Log in</a>
  		</li>
  		<li class="menu_item">
  			<a href="#" class="menu_link">Sing up</a>
  		</li>
  		<li class="menu_item">
  			<a href="#" class="menu_link">button</a>
  		</li>  
  	</ul>
  </nav>
</header><!--/.header-->
<section class="main">
	<h1 class="main_title">Landing page</h1>
	<a href="#" class="main_button">get started</a>
	<p class="main_description">some text<a href="#">some link</a>!</p>
</section>
</body>
</html>

