<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie-edge">
	<title>SmS Service</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	
	<!-- <link rel="stylesheet" href="style2.css"> -->
	<link rel="stylesheet" href="styles/index.css">
	<link rel="stylesheet" href="style.min.css">



</head>
<body>
<div class="preview" id="page_preloader" >

	<h1 class="loader" onload='StartPage()' id="text_preloader" >Sms service</h1>
	<!-- <a class="skip_button" id="skip_button" href="#">Skip</button> -->
</div>
<!-- <header class="header" >
   <a href="#" class="logo">
  	<img src="logo.svg" alt="logo unload" class="logo_img">
  </a>  
  <nav class="menu">
  	<ul class="menu_list">
  		<li class="menu_item">
  			<a href="#" class="menu_link">Log in</a>
  		</li>
  		<li class="menu_item">
				<a href="#" class="menu_link">Sign up</a>
    	</li>
  		<li class="menu_item">
		  	<label for="checkbox-button-menu">☰</label>
		  	<input id="checkbox-button-menu" type="checkbox" hidden/>
			
			  <ul class="button-menu"> 
				  <li class="button-menu_item"><a href="#" class="button-menu_link">Edit</a></li>
				  <li class="button-menu_item"><a href="#" class="button-menu_link">Company</a></li>
				  <li class="button-menu_item"><a href="#" class="button-menu_link">Recipient</a></li>
		  	</ul>	
  		</li>  
  	</ul>
	</nav>
	<!--/.header-->
</header>
<section class="main">
	<h1 class="main_title">Landing page <span class="main_title-big">something</span></h1>
	<a href="#app" class="main_button anchor">get started</a>
	<p class="main_description">some text <a href="#">some link</a>!</p>
</section>
<!--/.main-->

<section class="features">
		<!-- <img src="styles/images/text1.svg" class="start"> -->
	<ul class="features_list">
		<li class="features_item features_item--iconMessage">
			<h3 class="section_title">Get someth ing</h3>
			<p class="features_description">Necessity is the mother of invention.No man is born wise or learned.One cannot put back the clock.Promise little, but do much.</p>
		</li>
		<li class="features_item features_item--messages">
			<h3 class="section_title">Get something</h3>
			<p class="features_description">Necessity is the mother of invention.No man is born wise or learned.One cannot put back the clock.Promise little, but do much.</p>
		</li>
		<li class="features_item features_item--phoneMessage">
			<h3 class="section_title">Get something</h3>
			<p class="features_description">Necessity is the mother of invention.No man is born wise or learned.One cannot put back the clock.Promise little, but do much.</p>
		</li>
	</ul>
</section>
<!--/.features -->
<section class="app" id="app">
	<div class="app_image"></div>
	<div class="app_content">
		<h1 class="section_title section_title">something .. text</h1>
        <p class="app_description">
			Visual Studio Code is a lightweight but powerful source code editor which runs on your desktop and is available for Windows, macOS and Linux. It comes with built-in support for JavaScript, TypeScript and Node.js and has a rich ecosystem of extensions for other languages (such as C++, C#, Java, Python, PHP, Go) and runtimes (such as .NET and Unity). Begin your journey with VS Code with these introductory videos.
		</p>
		<p class="app_description">
			Visual Studio Code is a lightweight but powerful source code editor which runs on your desktop and is available for Windows, macOS and Linux. It comes with built-in support for JavaScript, TypeScript and Node.js and has a rich ecosystem of extensions for other languages (such as C++, C#, Java, Python, PHP, Go) and runtimes (such as .NET and Unity). Begin your journey with VS Code with these introductory videos.
		</p>
		<p class="app_description">
				Visual Studio Code is a lightweight but powerful source code editor which runs on your desktop and is available for Windows, macOS and Linux. It comes with built-in support for JavaScript, TypeScript and Node.js and has a rich ecosystem of extensions for other languages (such as C++, C#, Java, Python, PHP, Go) and runtimes (such as .NET and Unity). Begin your journey with VS Code with these introductory videos.
		</p>
		<p class="app_description">
			<a href="#" class="app_link">Link1</a>
			<a href="#" class="app_link">Link2</a>
		</p>
 	</div>
</section> 
<!--/.footer -->
<footer>
<div id="social"> 
</div>
<div id="rights">
     All rights reserved &copy; 2019  
</div>
</footer>

<script src="preloader.js"></script>
</body>
</html>

