@using Model.ViewModels.OperatorViewModels
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model LogoViewModel

<form asp-action="AddLogo" asp-controller="Operator" method="post" enctype="multipart/form-data">
    
    <div class="file-upload">

        <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>

        <div class="image-upload-wrap">
            <input type="hidden" class="form-control" asp-for="OperatorId" />
            <input class="file-upload-input" type='file' asp-for="Logo" onchange="readURL(this);" accept=".jpg, .jpeg, .png"  />
            <div class="drag-text">
                <h3>Drag and drop a file or select add Image</h3>
            </div>
        </div>
        <div class="file-upload-content">
            <img class="file-upload-image" src="#" alt="your image" />
            <div class="image-title-wrap">
                <button type="button" onclick="removeUpload()" class="remove-image">@Localizer["Remove"] <span class="image-title">@Localizer["Uploaded Image"]</span></button>


            </div>
            <button type="submit" class="btn btn-primary active control-fileupload ">
                <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>@Localizer["Save"]
            </button>
        </div>

    </div>
</form>
