@using Model.ViewModels.GroupViewModels;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model GroupUserViewModel;

@{
    ViewData["Title"] = Localizer["Add User"];
}

<h2>@Localizer["Add user to group"]</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddUsers">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" placeholder="@Localizer["Enter email"]" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Send request"]" class="btn btn-success" />
    
                    <a class="btn btn-primary" asp-action="Index">@Localizer["Back to List"]</a>
          
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}