* {
    box-sizing: border-box;
}

.lang-switcher {
    display: block;
    float: none;
    margin: 0;
    padding: 0;
}
    .lang-switcher li {
        display: block;
        border-right: 1px solid #222d32;
        float: none;
    }
.lang-switcher li:last-child {
    border-right: none;
}
        .lang-switcher li a {
            padding: 3px 5px;
            color: #222d32;
            transition: all 0.5s ease;
            text-decoration: none;
            display: block;
            height: 100%;
            min-width: 40px;
            text-align: center;
        }
.lang-switcher li a:hover {
    text-decoration: none;
}
            .lang-switcher li a.is-active {
                color: #222d32;
                cursor: default;
            }

/* modifiers */
    .lang-switcher.lang-switcher--pill, .lang-switcher.lang-switcher--rounded-pill {
        border: 1px solid #222d32;
    }
        .lang-switcher.lang-switcher--pill a:hover, .lang-switcher.lang-switcher--rounded-pill a:hover {
            background: #222d32;
            color: #ffffff;
        }
        .lang-switcher.lang-switcher--pill a.is-active, .lang-switcher.lang-switcher--rounded-pill a.is-active {
            background-color: #222d32;
            color: #ffffff;
        }

.lang-switcher.lang-switcher--rounded-pill {
    border-radius: 15px;
}
.lang-switcher.lang-switcher--rounded-pill li:first-child a {
    padding-left: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.lang-switcher.lang-switcher--rounded-pill li:last-child a {
    padding-right: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
