/*global*/
   * {
    box-sizing: border-box;
  }
  
  body {
      margin:0;
      padding:0;
    font-family: 'Lato', sans-serif;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 1%;
    overflow-y:scroll;
    overflow-x:hidden;
  }
  a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: underline;
    transition: color 0.2s linear;
  }
  a:hover {
    text-decoration: none;
    color: #fff;
  }
  /*header*/
  .header {
    position: absolute;
    width: 100%;
    display: flex;
    padding: 1% 5%;
  }
  /*Logo*/
.logo {
    display: flex;
    align-items: flex-start;
    max-height: 100px;
    max-width: 160px;
    min-height:80px;
    min-width:100px;
    height: 100px;
    width: auto;
}
  .logo_img {
    width: 100%;
    height: auto;
  }
  /*section_title*/
  .section_title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 19px;
  }
  .section_title:after {
    content: "";
    width: 88px;
    height: 1px;
    margin-top: 10px;
    background-color: #f69679;
  }
  .section_title--left {
    align-items: left;
  }
  /*menu*/
.menu {
    padding: 0;
    margin: 0;
    margin-top:2vh;
    display: flex;
    align-items: center;
}

.menu_list {
    display: flex;
    align-items: flex-start;
    height: 100%;
    margin-left: auto;
    padding: 0;
}
  .menu_item {
    list-style: none;
    margin-right: 30px;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
  }
  .menu_link {
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
  }
  /*Button-menu*/
  .button-menu {
    display: none;
    position: absolute;
    right: 0;
    list-style: none;
    text-align: right;
    padding: 10px 0 0;
    margin: 0;
  }
  .button-menu--open {
    display: block;
  }
  .button-menu_link {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px 40px;
    display: block;
    text-decoration: none;
  }
  .button-menu_link:hover {
    background-color: #eee;
    color: #333;
  }
  #checkbox-button-menu:checked + .button-menu {
    display: block;
  }
  /*section main*/
.main {
    background-image: url('../images/b.jpg');
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
  /* main__title */
  .main_title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1.8px;
    text-shadow: 0 1px 40px rgba(1, 1, 1, 0.55);
    color: rgba(255, 255, 255, 0.8);
    margin: 0 0 40px;
    text-align: center;
    margin-bottom: 60pt;
  }
  .main_title-big {
    margin-top: 50px;
    display: block;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    font-style: normal;
    text-transform: uppercase;
  }
  .main_button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    border: 3px solid #fff;
    width: 280px;
    height: 68px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  /* main__description */
  .main_description {
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
  }
  .features {
    padding: 70px 10px;
 
  }
.features_list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    list-style: none;
}

.second {
    background:100%;
    background-image: url('../images/landing/white-background-9b1.jpg');
}
.features_item {
    width: 360px;
    padding: 0 10px;
    text-align: center;
}
  .features_item:before {
    content: "";
    width: 135px;
    height: 135px;
    border: 1px solid #000;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    display: inline-block;
    margin-bottom: 20px;
  }
.features_item--messages:before {

    background-image: url('../images/landing/messages.png');
}
.features_item--phoneMessage:before {
  
    background-image: url('../images/landing/phonemessage.png');
}
.features_item--iconMessage:before {
  
    background-image: url('../images/landing/iconmessage.png');
}

.features_item--sms_tools_1:before {
    background-image: url('../images/landing/sms_tools_1.png');
}

.features_item--sms_tools_2:before {
    background-image: url('../images/landing/sms_tools_2.png');
}

.features_item--sms_tools_3:before {
    background-image: url('../images/landing/sms_tools_3.png');
}

.features_item--sms_tools_4:before {
    background-image: url('../images/landing/sms_tools_4.png');

}

.features_item--sms_tools_5:before {
    background-image: url('../images/landing/sms_tools_5.png');
}

.features_item--sms_tools_6:before {
    background-image: url('../images/landing/sms_tools_6.png');
}

.features_description {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    color: #8b8b8b;
}
.app {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 180px 10% 50px;
    background-color: #f7f7f7;
    min-height: 700px;
    display: flex;
}


.app_image_phone {
    width: 40vh;
    height:45vh;
    margin-top: -60px;
    background-repeat: no-repeat;
    background-image: url('../images/landing/placeholder.png');
    background-size: contain;
    background-position: top;
}


.tariff_photo {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    height: 30vh;
    width: 80vh;
    background-repeat: no-repeat;
    background-image: url('../images/landing/photo_tariff.jpg');
    min-width: 300px;
    background-size: cover;
}

  .app_content {
    width: 50%;
    margin-left: auto;
    text-align: center;
  }
.tariff_content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    min-width: 360px;
    font-size: 16px;
    font-weight: 300;
  
}

.app_description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 0 19px;
    margin: 10px;
    padding: 0 50px;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    color: #8b8b8b;
}
.app_description_link {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    color: #8b8b8b;
   
}
.app_link {
    display: inline-block;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    color: #fff;
}
  .app_link:hover {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: underline;
    transition: color 0.2s linear;
  }
.app_link--iconMessage {
    width: 100px;
    height: 100px;
    background-image: url('../images/landing/iconMessage.png');
}
.app_description_welcome {
    color:rgba(255, 255, 255, 0.7);
    max-width: 500px;
    text-align: center;
    margin-bottom: 40px;
}
.app_description_title{
   color:#fff;

}
.app_button {
    box-sizing:border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    border: 3px solid #8b8b8b;
    width: 180px;
    height: 60px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 40px;
}
.tariff_main{
    padding: 10px 5px 10px;
    color: rgba(255, 255, 255, 0.8);
}
.tariff_main_content {
    margin: 10px;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.7);
  
}
.section_tariff {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 100px 1% 50px;
    background: 100%;
    background-image: url('../images/landing/wallpaper2you_30315.jpg');
    min-height: 700px;
  
}
.log_section {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 100px 1% 50px;
    background: 50%;
    background-image: url('../images/landing/wallpaper2you_30315.jpg');
    min-height: 700px;
    color: black;
}
.section_chart {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 100px 1% 50px;
    background: 100%;
    background-image: url('../images/landing/white-background-9b1.jpg');
    min-height: 900px;
}
.chart_main_content {
    margin: 10px;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    color: #161616;
}
.chart_img_main {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.chart_img1 {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    width: 500px;
    height: 300px;
    background-repeat: no-repeat;
    background-image: url('../images/landing/chart1.png');
    background-size: contain;
    
}
.chart_img2 {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    width: 600px;
    height: 300px;
    background-repeat: no-repeat;
    background-image: url('../images/landing/chart2.png');
    background-size: contain;
  
}
.chart_content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    font-weight: 300;
    margin: 10px;
    font-size: 20px;
    line-height: 20px;
    color: #333
}
.chart_description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-width: 360px;
}
.start {
    /*image-rendering: 100%;*/
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    top: 100vh;
    left: 100vh;
    transform: translate(-50%, -50%);
    text-align: center;
}
  footer {
      display:flex;
      align-items:flex-end;
      justify-content:space-around;
      height:auto;
    width: 100%;
    float: left;
    padding: 1%;
    background: #141414;
    color: #fff;
    border-top: 2px solid silver;
    margin-top: 10vh;
  
    }

  
  footer #social img {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 5px;
  }
.footer_content{
    display:flex;
    align-items:center;
}
.main__menu {
    position: center;
}
@media (max-width: 750px) {
    .app_content {
        width: 100%;
    }
    .app.second {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
