@using Model.ViewModels.ManageViewModels
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model NotificationsViewModel

@{
	ViewData["Title"] = Localizer["Manage notifications settings"];
	ViewData.AddActivePage(ManageNavPages.Notifications);
}

<h2>@ViewData["Title"]</h2>

<div class="row">
	<div class="col-md-6">
		<form method="post" asp-antiforgery="true">
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-group form-inline">
				<input asp-for="SmsNotEnabled" class="checkbox form" />
				<label asp-for="SmsNotEnabled">@Localizer["Send notifications via SMS"]</label>
			</div>
			<div class="form-group form-inline">
				<input asp-for="EmailNotEnabled" class="checkbox form" />
				<label asp-for="EmailNotEnabled">@Localizer["Send notifications via Email"]</label>
</div>
			<button type="submit" class="btn btn-default">@Localizer["Save"]</button>
		</form>
	</div>
</div>