
@using Model.ViewModels.StopWordViewModels;
@model StopWordViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<body>
    <header>
    <h2>Create</h2>
    <h4>Stop Word</h4>
    </header>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Word" class="control-label"></label>
                    <input asp-for="Word" class="form-control" placeholder="Enter email" />
                    <span asp-validation-for="Word" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success" />
                    <a class="btn btn-primary" asp-action="Index">Back to List</a>
                </div>

            </form>
        </div>
    </div>
</body>
 </html>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}